/* CyberType Terminal - By Junior Rumiche */

@keyframes cursor-blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.cursor {
    animation: cursor-blink 1s infinite;
}

.matrix-bg {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: radial-gradient(#0f0 1px, transparent 1px);
    background-size: 50px 50px;
}

.bg-black\/80:hover {
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #0f0;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ff00;
}